* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background: #3b5999;
  color: #fff;
  text-align: center;
  padding: 3rem;
}

a {
  width: 100%;
  background: red;
  color: #fff;
  text-align: center;
  padding: 3rem;
}